annotated-doc==0.0.4
anyio==4.12.1
asttokens==3.0.1
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.5
cssselect==1.4.0
ddgs==9.11.3
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.1
filelock==3.25.2
fsspec==2026.2.0
googlesearch-python==1.3.0
h11==0.16.0
hf-xet==1.4.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.6.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
itemadapter==0.13.1
itemloaders==1.4.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
json5==0.13.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.3
outcome==1.3.0.post0
packaging==26.0
parsel==1.11.0
parso==0.8.6
primp==1.1.3
prompt_toolkit==3.0.52
Protego==0.6.0
psycopg2==2.9.11
pure_eval==0.2.3
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
PyDispatcher==2.0.7
Pygments==2.19.2
pyOpenSSL==26.0.0
PySocks==1.7.1
python-dotenv==1.2.2
pywin32==311
PyYAML==6.0.3
queuelib==1.9.0
regex==2026.2.28
requests==2.32.5
requests-file==3.0.1
rich==14.3.3
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
scrapeops_scrapy==0.5.6
scrapeops_scrapy_proxy_sdk==1.0
Scrapy==2.14.2
scrapyd==1.6.0
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@c6aa9d58170259d4a76115dacd605642dbd51da2
selenium==4.41.0
sentence-transformers==5.2.3
service-identity==24.2.0
shellingham==1.5.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
tld==0.13.2
tldextract==5.3.1
tokenizers==0.22.2
torch==2.10.0
tqdm==4.67.3
traitlets==5.14.3
transformers==5.3.0
trio==0.33.0
trio-websocket==0.12.2
Twisted==25.5.0
typer==0.24.1
typing_extensions==4.15.0
uberegg==0.1.1
urllib3==2.6.3
w3lib==2.4.0
wcwidth==0.6.0
websocket-client==1.9.0
wsproto==1.3.2
zope.interface==8.2
